{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>Prediction</h1>
    </div>
    <br>
    <form method="POST">
        <div>
            <p>Select the Subject &nbsp &nbsp
            <select name="Subject">
                <option value="COA">COA</option>
                <option value="MP">MP</option>
                <option value="CG">CG</option>
                <option value="ADS">ADS</option>
                <option value="PPL">PPL</option>
            </select>
            </p>
        </div>
        <br>
        <input type="submit" value="Predict">
    </form>
{% endblock %}